/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	scroll-behavior: smooth;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}

.container {
	max-width: 1140px;
	margin:auto;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li{
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a{
	all: unset;
	cursor: pointer;
}

a:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.portfolio-title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 2em;
	gap: 1em;
}

.portfolio-title button{
	all: unset;
	cursor: pointer;

}

#categories{
	width: 100%;
	display: flex;
	justify-content:center;
	gap: 8px;
	margin-bottom: 2em;
}

.category-btn{
	all: unset;
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 8px 16px;
}

.category-btn.selected{
	color: #FFFFFF;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery figure {
	overflow: hidden;
}

.gallery img {
	width: 100%;
	height: 450px;
	object-fit: cover;
	display: block;
}

.gallery figcaption{
	margin-top: 0.5em;
}

#contact, #login {
	width: 50%;
	margin: auto;
}

#contact > * , #login > *{
	text-align: center;

}

#contact h2{
	margin-bottom: 20px;
}

#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label, #login label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

#login a {
	text-align: center;
	margin-bottom: 2rem;
	color: black;
}

.error-message{
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 10px;
	margin-top: 2em;
	background-color: rgb(234, 57, 57);
}

footer{
	background-color: #fff;
	padding: 2em
}

footer nav{
	max-width: 1440px;
	margin: auto;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	
}


/*  BANNER  */

.main-banner {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	color: #FFF;
	height: 60px;
	width: 100%;
	gap: 1em;
	z-index: 1;
}

.white-icon{
	color: #FFF;
}

.editionBtn{
	padding: 5px 10px;
	cursor: pointer;
}

.editionBtn i{
	margin-right: 5px;
}

.dark-bg {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.29);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.projects-modal {
	background-color: #fff;
	border-radius: 10px;
	padding: 32px;
	width: 630px;
	min-height: 600px;
	position: relative;
	display: flex;
	flex-direction: column;
}


.modal-close {
	position: absolute;
	top: 25px;
	right: 25px;
	background: none;
	border: none;
	font-size: 30px;
	cursor: pointer;
	color: #333;
}

.modal-back {
	position: absolute;
	top: 25px;
	left: 25px;
	background: none;
	border: none;
	font-size: 18px;
	cursor: pointer;
	color: #333;
}

.projects-modal h2 {
	color: #000;
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	margin: 25px 0 ;
}

.modal-gallery {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	row-gap: 2em;
	margin: 50px auto;
	overflow-y: auto;
	max-height: 480px;
	max-width: 500px;
}

.modal-figure {
	position: relative;
	margin: 0;
}

.modal-figure img {
	width: 100%;
	height: 140px;
	object-fit: cover;
	display: block;
}

.modal-delete {
	position: absolute;
	top: 4px;
	right: 4px;
	background-color: #000;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	width: 24px;
	height: 24px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-separator {
	border: none;
	border-top: 1px solid #B3B3B3;
	width: 100%;
	max-width: 500px;
	margin: 30px auto 0;
}

.modal-add-btn:disabled {
	background-color: #B1B1B1;
	cursor: not-allowed;
}

.modal-add-btn {
	font-family: 'Syne';
	font-weight: 700;
	display: block;
	margin: 32px auto 0;
	padding: 12px 60px;
	background-color: #1D6154;
	color: #fff;
	border: none;
	border-radius: 60px;
	font-size: 14px;
	cursor: pointer;
}

.modal-form {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 500px;
	
}

.modal-upload-preview {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.modal-upload-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #E8F1F6;
	border-radius: 3px;
	width: 100%;
	height: 200px;
	margin: 24px auto;
	cursor: pointer;
	gap: 12px;
	overflow: hidden;
}

.modal-upload-icon {
	font-size: 70px;
	color: #B9C5CC;
}

.modal-upload-btn {
	all: unset;
	font-size: 14px;
	color: #1D6154;
	cursor: pointer;
	font-weight: 500;
	padding: 10px 24px;
	border-radius: 50px;
	background-color: #CBD6DC;
}

.modal-upload-info {
	font-size: 11px;
	color: #9ea0a1;
	margin: 0;
}

.modal-file-input {
	display: none;
}

.modal-form-label {
	display: block;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 16px;
}

.modal-form-input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 12px;
}

.select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="%239ea0a1"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    cursor: pointer;
}

